.service-request{
    .page-content{
        background-color: var(--main-color-five);
        .container{
            min-height: inherit;
            .service-request-form{
                textarea{
                    resize: none;
                    height: calc(116px + 1.5rem);
                }
                .service-request-btn, .wait-requesting-btn{
                    background-color: var(--main-color-one);
                    color: #FFF;
                }
            }
        }
    }
}