.service-request .page-content {
  background-color: var(--main-color-five);
}

.service-request .page-content .container {
  min-height: inherit;
}

.service-request .page-content .container .service-request-form .file-box {
  height: 58px;
}

.service-request .page-content .container .service-request-form .file-box .file-label {
  cursor: pointer;
}

.service-request .page-content .container .service-request-form .file-box .file-label .upload-file-icon {
  font-size: 23px;
}

.service-request .page-content .container .service-request-form .file-box input[type="file"] {
  visibility: hidden;
}

.service-request .page-content .container .service-request-form textarea {
  resize: none;
  height: calc(116px + 1.5rem);
}

.service-request .page-content .container .service-request-form .service-request-btn, .service-request .page-content .container .service-request-form .wait-requesting-btn {
  background-color: var(--main-color-one);
  color: #FFF;
}
