.admin-panel {
  background-color: var(--main-color-five);
  min-height: 100vh;
}

.admin-panel .content {
  min-height: inherit;
}

@media (max-width: 767px) {
  .admin-panel .content .link {
    width: 100% !important;
  }
}
