.profile{
    .page-content{
        .container{
            min-height: inherit;
            .edit-profile-form{
                textarea{
                    resize: none;
                }
                .edit-profile-btn{
                    background-color: var(--main-color-one);
                    color: #FFF;
                }
            }
        }
    }
}