.admin-login{
    background-color: var(--main-color-five);
    min-height: 100vh;
    .admin-login-form{
        input{
            @media (max-width: 767px) {
                width: 100% !important;
            }
        }
    }
}