.sign-up .page-content .container {
  min-height: inherit;
}

.sign-up .page-content .container .sign-up-form textarea {
  resize: none;
}

.sign-up .page-content .container .sign-up-form .sign-up-btn {
  background-color: var(--main-color-one);
  color: #FFF;
}
