.sign-up{
    .page-content{
        background-color: var(--main-color-five);
        .container{
            min-height: inherit;
            .sign-up-form{
                textarea{
                    resize: none;
                }
                .sign-up-btn{
                    background-color: var(--main-color-one);
                    color: #FFF;
                }
            }
        }
    }
}