.home{
    .page-content{
        .ads{
            background-color: var(--main-color-three);
            cursor: pointer;
            .carousel{
                position: static;
                .carousel-caption{
                    position: static;
                    padding: 0;
                    .ads-content{
                        margin: 0;
                        font-size: 20px;
                    }
                }
            }
        }
        .introduction{
            .carousel{
                min-height: inherit;
                background-color: rgba(42, 108, 116, 0.35);
                position: relative;
                .carousel-inner{
                    min-height: inherit;
                    .carousel-item{
                        min-height: inherit;
                        .carousel-caption{
                            position: static;
                            padding: 0;
                            font-size: 30px;
                            color: #000;
                            min-height: inherit;
                            .container{
                                min-height: inherit;
                                .row{
                                    min-height: inherit;
                                    @media (max-width: 767px) {
                                        .content-box{
                                            order: 2;
                                            padding-top: 10px;
                                            p{
                                                margin-bottom: 10px;
                                            }
                                        }
                                    }
                                    .slider-content-explain{
                                        p{
                                            font-family: 'Lemonada', cursive;
                                            line-height: 2;
                                            margin-bottom: 20px;
                                            &:first-child {
                                                @media (max-width: 767px) {
                                                    &.exeption-paragraph-3{
                                                        line-height: 2.4;
                                                    }
                                                }
                                            }
                                            @media (min-width: 521px) and (max-width: 767px) {
                                                &.exeption-paragraph{
                                                    line-height: 2.5 !important;
                                                }
                                            }
                                            &:last-child {
                                                margin-bottom: 0;
                                                @media (max-width: 767px) {
                                                    &.exeption-paragraph{
                                                        line-height: 3;
                                                    }
                                                }
                                            }
                                        }
                                        font-size: 19px;
                                        @media (max-width: 767px) {
                                            font-size: 18px;
                                        }
                                    }
                                    .image-box{
                                        text-align: center;
                                        .home-paragraph{
                                            font-size: 28px;
                                            @media (max-width: 400px) {
                                                margin-bottom: 10px;
                                            }
                                        }
                                        @media (max-width: 767px) {
                                            text-align: center;
                                            &.image-box2, &.image-box3{
                                                p{
                                                    margin: 0;
                                                }
                                            }
                                        }
                                        .slider-image{
                                            max-width: 90%;
                                            display: inline-block;
                                            margin: 0 auto;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .start-with-us-btn, .service-request-btn{
            width: fit-content;
            background-color: var(--main-color-one);
            color: #FFF;
            border-top: 5px solid var(--main-color-two);
            border-bottom: 5px solid var(--main-color-two);
            font-size: 20px;
        }
    }
}