.home{
    .page-content{
        .slider{
            min-height: inherit;
            position: relative;
            text-align: center;
            .start-with-us-btn{
                position: absolute;
                bottom: 20px;
                right: 50%;
                transform: translateX(50%);
                width: fit-content;
                background-color: var(--main-color-one);
                color: #FFF;
                border-top: 5px solid var(--main-color-two);
                border-bottom: 5px solid var(--main-color-two);
                font-size: 20px;
            }
        }
    }
}