.page-header{
    background-color: var(--main-color-one);
    border-bottom: 7px solid var(--main-color-two);
    .outline-menu-icon, .outline-menu-close-icon{
        font-size: 33px;
        cursor: pointer;
    }
    .navbar{
        .navbar-nav{
            .nav-item{
                .nav-link{
                    font-size: 18px;
                    &:hover{
                        color: #0F0;
                    }
                }
            }
        }
    }
}