.page-header {
  background-color: var(--main-color-one);
  border-bottom: 7px solid var(--main-color-two);
}

.page-header .outline-menu-icon, .page-header .outline-menu-close-icon {
  font-size: 33px;
  cursor: pointer;
}

.page-header .navbar .navbar-nav .nav-item .nav-link {
  font-size: 18px;
}

.page-header .navbar .navbar-nav .nav-item .nav-link:hover {
  color: #0F0;
}
