.page-header {
  background-color: var(--main-color-one);
  border-bottom: 7px solid var(--main-color-two);
}

.page-header .outline-menu-icon, .page-header .outline-menu-close-icon {
  font-size: 33px;
  cursor: pointer;
}

.page-header .authentication-link-list {
  gap: 20px;
}

.page-header .authentication-link-list li {
  border: 1px solid #CCC;
  width: fit-content;
}

.page-header .authentication-link-list li:hover {
  background-color: var(--main-color-three);
}

.page-header .authentication-link-list li:hover a {
  color: #000;
}
