.contact-us .contact-methods {
  font-size: 20px;
}

.contact-us .contact-methods .email-box .email-link {
  color: #000;
}

.contact-us .contact-methods .email-box .email-link:hover {
  font-weight: bold;
}
