.ads-manager {
    background-color: var(--main-color-five);
    min-height: 100vh;
    .content {
        min-height: inherit;
        .link{
            @media (max-width: 767px) {
                width: 100% !important;
            }
        }
    }
}