.side-bar{
    position: fixed;
    top: 100px;
    right: 0;
    z-index: 1;
    width: 300px;
    height: inherit;
    background-color: var(--main-color-one);
    animation: sideBarAnimation .7s ease 0s;
    .links-list{
        row-gap: 10px;
        color: #FFF;
        li{
            &:first-child{
                background-color: #EEE;
                border-radius: 3px;
                padding: 10px 20px !important;
                border-right: 5px solid var(--main-color-three);
                border-left: 5px solid var(--main-color-three);
                color: #000;
            }
            &:not(:first-child){
                cursor: pointer;
                transition: background-color, padding .5s;
                &:hover{
                    background-color: var(--main-color-three);
                    border-radius: 3px;
                    padding: 10px 20px !important;
                    a{
                        color: #000;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

@keyframes sideBarAnimation {
    from {
        right: -300px;
    }
    to{
        right: 0;
    }
}