.forget-password{
    .page-content{
        .container{
            min-height: inherit;
            .row{
                min-height: inherit;
                @media (max-width: 767px) {
                    > div:first-child{
                        padding: 0 !important;
                    }
                }
                @media (max-width: 991px) {
                    > div:first-child{
                        order: 2;
                        padding-top: 0 !important;
                    }
                    > div:last-child{
                        text-align: center;
                    }
                }
                .forget-password-form{
                    box-shadow: 1px 1px 10px #FFF;
                    border-radius: 15px;
                    .forget-password-btn, .wait-check-btn{
                        background-color: var(--main-color-one);
                        color: #FFF;
                    }
                }
                .forget-password-img{
                    max-width: 100%;
                    height: 100%;
                }
            }
        }
    }
}