*{
    font-family: 'Changa', sans-serif;
}
:root{
    --main-color-one: #2a6c74;
    --main-color-two: #235a61;
    --main-color-three: #00ca97;
    --main-color-four: #78e3c8;
    --main-color-five: #d9f4ff;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

a{
    color: #FFF;
    text-decoration: none;
}

#__next{
    height: inherit;
    > div {
        height: inherit;
    }
}

.shared-pages-with-styles{
    .page-content{
        .container{
            min-height: inherit;
            .row{
                min-height: inherit;
                background-color: var(--main-color-four);
                border-radius: 30px;
                .page-img{
                    max-width: 100%;
                    height: 100%;
                }
                .page-content-explain{
                    text-align: justify;
                    line-height: 2;
                    font-size: 20px;
                    margin-bottom: 0;
                    height: 400px;
                    overflow-y: auto;
                }
            }
        }
    }
}