*{
    font-family: 'Changa', sans-serif;
}
:root{
    --main-color-one: #2a6c74;
    --main-color-two: #235a61;
    --main-color-three: #00ca97;
    --main-color-four: #78e3c8;
    --main-color-five: #d9f4ff;
    --main-color-six: #28e4a5;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

a{
    color: #FFF;
    text-decoration: none;
}

#__next{
    height: inherit;
    > div {
        height: inherit;
    }
}

::-webkit-scrollbar{
    background-color: transparent;
    width: 15px
}

::-webkit-scrollbar-thumb{
    background-color: var(--main-color-two);
}

input, select, textarea{
    border-radius: 15px !important;
}

.password-field-box, .confirm-password-field-box{
    position: relative;
    .icon-box{
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        .icon{
            font-size: 30px;
            cursor: pointer;
        }
    }
}

.shared-pages-with-styles{
    .page-content{
        .container{
            min-height: inherit;
            .row{
                min-height: inherit;
                background-color: var(--main-color-four);
                border-radius: 30px;
                @media (max-width: 767px) {
                    padding: 20px;
                    > div:first-child{
                        order: 2;
                    }
                }
                .image-box{
                    .page-img{
                        max-width: 100%;
                        height: 100%;
                    }
                    @media (max-width: 767px) {
                        padding-left: 3rem;
                    }
                }
                .page-content-explain{
                    text-align: justify;
                    line-height: 2;
                    font-size: 20px;
                    margin-bottom: 0;
                    height: 400px;
                    overflow-y: auto;
                    @media (max-width: 767px) {
                        text-align: center;
                        font-size: 18px;
                        padding: 0 2rem !important;
                    }
                }
            }
        }
    }
}

.shared-our-services-with-styles{
    .page-content{
        background-size: 100% 100%;
        @media (max-width: 767px) {
            background: var(--main-color-five) !important;
        }
        .row{
            @media (max-width: 767px) {
                gap: 30px;
            }
            > div:first-of-type{
                padding-left: 45px;
                height: 258px !important;
                @media (max-width: 767px) {
                    padding-left: 12px;
                }
            }
            > div:last-of-type{
                display: none;
            }
            .page-title{
                font-family: 'Lemonada', cursive;
                @media (max-width: 767px) {
                    margin: 15px 0 25px 0 !important;
                }
            }
            .page-content-explain{
                text-align: center;
                line-height: 2;
                font-size: 21px;
                margin-bottom: 0;
                background-color: var(--main-color-six);
                border-radius: 20px;
                height: inherit;
                display: flex;
                align-items: center;
                @media (max-width: 520px) {
                    font-size: 4vw;
                }
            }
            .image-in-responsive{
                max-width: 100%;
            }
            @media (max-width: 767px) {
                > div:first-of-type{
                    order: 2;
                }
                > div:last-of-type{
                    display: block;
                }
            }
        }
    }
}

.loading-box{
    height: 100vh;
    background-color: var(--main-color-one);
}

.loader {
    position: relative;
    font-size: 48px;
    letter-spacing: 6px;
    &:before {
        content: "لحظة من فضلك ...";
        color: #fff;
    }
    &:after {
        content: "";
        width: 20px;
        height: 20px;
        background-color: #ff3d00;
        background-image: radial-gradient(circle 2px, #fff4 100%, transparent 0),
        radial-gradient(circle 1px, #fff3 100%, transparent 0);
        background-position: 14px -4px, 12px -1px;
        border-radius: 50%;
        position: absolute;
        margin: auto;
        top: -5px;
        right: 66px;
        transform-origin: center bottom;
        animation: fillBaloon 1s ease-in-out infinite alternate;
    }
}

.error-msg-on-loading-the-page{
    min-height: calc(100vh - 59px);
    .error-icon{
        font-size: 120px;
    }
    .error-msg-on-loading-box{
        font-size: 30px;
    }
}

.loading-box, .error-msg-on-loading-the-page{
    background-color: #263038;
}

@keyframes fillBaloon {
    0% { transform: scale(1)}
    100% { transform: scale(3)}
}