* {
  font-family: 'Changa', sans-serif;
}

:root {
  --main-color-one: #2a6c74;
  --main-color-two: #235a61;
  --main-color-three: #00ca97;
  --main-color-four: #78e3c8;
  --main-color-five: #d9f4ff;
  --main-color-six: #28e4a5;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: #FFF;
  text-decoration: none;
}

#__next {
  height: inherit;
}

#__next > div {
  height: inherit;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color-two);
}

input, select, textarea {
  border-radius: 15px !important;
}

.shared-pages-with-styles .page-content .container {
  min-height: inherit;
}

.shared-pages-with-styles .page-content .container .row {
  min-height: inherit;
  background-color: var(--main-color-four);
  border-radius: 30px;
}

@media (max-width: 767px) {
  .shared-pages-with-styles .page-content .container .row {
    padding: 20px;
  }
  .shared-pages-with-styles .page-content .container .row > div:first-child {
    order: 2;
  }
}

.shared-pages-with-styles .page-content .container .row .image-box .page-img {
  max-width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .shared-pages-with-styles .page-content .container .row .image-box {
    padding-left: 3rem;
  }
}

.shared-pages-with-styles .page-content .container .row .page-content-explain {
  text-align: justify;
  line-height: 2;
  font-size: 20px;
  margin-bottom: 0;
  height: 400px;
  overflow-y: auto;
}

@media (max-width: 767px) {
  .shared-pages-with-styles .page-content .container .row .page-content-explain {
    text-align: center;
    font-size: 18px;
    padding: 0 2rem !important;
  }
}

.shared-our-services-with-styles .page-content {
  background-size: 100% 100%;
}

@media (max-width: 767px) {
  .shared-our-services-with-styles .page-content {
    background: var(--main-color-five) !important;
  }
}

@media (max-width: 767px) {
  .shared-our-services-with-styles .page-content .row {
    gap: 30px;
  }
}

.shared-our-services-with-styles .page-content .row > div:first-of-type {
  padding-left: 45px;
  height: 258px !important;
}

@media (max-width: 767px) {
  .shared-our-services-with-styles .page-content .row > div:first-of-type {
    padding-left: 12px;
  }
}

.shared-our-services-with-styles .page-content .row > div:last-of-type {
  display: none;
}

.shared-our-services-with-styles .page-content .row .page-title {
  font-family: 'Lemonada', cursive;
}

@media (max-width: 767px) {
  .shared-our-services-with-styles .page-content .row .page-title {
    margin: 15px 0 25px 0 !important;
  }
}

.shared-our-services-with-styles .page-content .row .page-content-explain {
  text-align: center;
  line-height: 2;
  font-size: 21px;
  margin-bottom: 0;
  background-color: var(--main-color-six);
  border-radius: 20px;
  height: inherit;
  display: flex;
  align-items: center;
}

@media (max-width: 520px) {
  .shared-our-services-with-styles .page-content .row .page-content-explain {
    font-size: 4vw;
  }
}

.shared-our-services-with-styles .page-content .row .image-in-responsive {
  max-width: 100%;
}

@media (max-width: 767px) {
  .shared-our-services-with-styles .page-content .row > div:first-of-type {
    order: 2;
  }
  .shared-our-services-with-styles .page-content .row > div:last-of-type {
    display: block;
  }
}
