.our-services .page-content {
  background-color: var(--main-color-four);
}

.our-services .page-content .container {
  min-height: inherit;
}

.our-services .page-content .container .row {
  min-height: inherit;
}

.our-services .page-content .container .row .service-box {
  border: 1px solid var(--main-color-one);
  box-shadow: 1px 1px 15px var(--main-color-three), -1px -1px 15px var(--main-color-two);
  border-radius: 10px;
  background-color: #FFF;
  height: 150px;
}

.our-services .page-content .container .row .service-box .service-details-link {
  color: #000;
}

.our-services .page-content .container .row .service-box .service-details-link:hover {
  font-weight: bold;
}

.our-services .page-content .container .service-request-link {
  background-color: var(--main-color-one);
  color: #FFF;
}
