.our-services{
    .page-content{
        background-color: var(--main-color-five);
        .container{
            min-height: inherit;
            .row{
                min-height: inherit;
                @media (max-width: 767px) {
                    gap: 30px;
                    margin-bottom: 30px;
                }
                .service-box{
                    border: 5px solid var(--main-color-six);
                    border-radius: 20px;
                    background-color: #FFF;
                    height: 150px;
                    .service-link-and-logo{
                        .service-details-link{
                            color: #000;
                            &:hover{
                                font-weight: bold;
                            }
                        }
                        .fix-image{
                            width: 50px;
                            height: 50px;
                        }
                    }
                }
            }
            .service-request-link{
                background-color: var(--main-color-one);
                color: #FFF;
            }
        }
    }
}